<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <img src="../assets/Images/footer-logo.png" style="width: 140px;height: 60px;" alt="NotFound" ><br>
                       
                    
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="">
                       
                        <img src="../assets/Images/google-play.png"  alt="NotFound" ><br>
                    
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="">
                       
                     
                        <img src="../assets/Images/app-stor.png"  alt="NotFound" ><br>
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="">
                       
                       
                        <img src="../assets/Images/app-gallery.png"  alt="NotFound" ><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 cities">
            <h5>Cities</h5>
            <div class="line"></div>
            <div class="row mt-2">
                <div class="col-md-6 col-sm-6">
                    <span>Cairo</span>
                    <span>North Coast</span>
                    <span>El Mansoura</span>
                    <span>Sharm El Sheikh</span>
                    <span>Damietta</span>
                    <span>Suez</span>
                    <span>Al Fayoum</span>
                    <span>Benha</span>
                </div>

                <div class="col-md-6 col-sm-6">
                    <span>
                        Alexandria</span>
                    <span>
                        Hurghada</span>
                    <span>Tanta</span>
                    <span>Port Said</span>
                    <span>
                        Ismailia</span>
                    <span>
                        Dahab</span>
                    <span>
                        Minya</span>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3 cities">
            <h5>Area</h5>
            <div class="line"></div>
            <div class="row mt-2">
                <div class="col-md-6 col-sm-6">
                    <span>Nasr City</span>
                    <span>New Cairo</span>
                    <span>6th of October</span>
                    <span>Mohandessin</span>
                    <span>Haram</span>
                    <span>Zamalek</span>
                    <span>Al Rehab City</span>
                    <span>Shoubra</span>
                </div>

                <div class="col-md-6 col-sm-6 ">
                    <span>
                        Heliopolis</span>
                    <span>
                        Maadi</span>
                    <span>
                        Sheikh Zayed</span>
                    <span>
                        Faisal</span>
                    <span>
                        Dokki</span>
                    <span>
                        Downtown</span>
                    <span>
                        Ain Shams</span>
                   
                </div>
            </div>
        </div>

        <div class="col-md-3 cities">
            <h5>Dishes</h5>
            <div class="line"></div>
            <div class="row mt-2">
                <div class="col-md-6 col-sm-6">
                    <span>Pasta</span>
                    <span>Burgers</span>
                    <span>Pizza</span>
                    <span>Salad</span>
                
                </div>

                <div class="col-md-6 col-sm-6">
                    <span>Seafood</span>
                    <span>
                        Juices</span>
                    <span>Crepe</span>
                    <span>Sandwiches</span>
                </div>
            </div>
        </div>


    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 text-center ">
                    <i class="fa-brands fa-facebook-square mx-2"></i>
                    <i class="fa-brands fa-instagram mx-2"></i>
                    <i class="fa-brands fa-twitter mx-2"></i>
                    <i class="fa-brands fa-linkedin mx-2"></i>
                </div>

                <div class="col-md-6  ">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>About Us</span>
                        <span>Terms and Conditions</span>
                        <span>Privacy</span>
                        <span>Careers</span>
                        <span>Join us</span>
                    </div>
                </div>


                <div class="col-md-3  text-center">
                  <p>© 2022 Food</p>
                </div>
            </div>
        </div>
    </div>
</div>
