<header class=" mb-5 ">
  <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="item1">

          </div>
          <!-- <img src="../assets/Images/img-Yg22NkDlZNfBPE6V.png" class="d-block w-100 h-50" alt="NotFound"> -->
        </div>
        <div class="carousel-item">
          <div class="item2">

          </div>
          <!-- <img src="../assets/Images/img-Yleewk114gSBaDEq.png" class="d-block w-100 " alt="NotFound"> -->
        </div>
        <div class="carousel-item">
          <div class="item3">

          </div>
          <!-- <img src="../assets/Images/HomeImg-m2WWR5EDrgTbbJjy.png" class="d-block w-100 " alt="NotFound"> -->
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</header>


<section class="mt-5 container ">

  
  <div class="row my-5">
    <div class="col-md-7 col-sm-12">
      <img src="../assets/Images/HomeImg-d9vXl7GZk7tZP813.png" width="100%" alt="NotFound" >
    </div>

  
    <div class="col-md-5  col-sm-12">
      <h1 class="p-4">Memories made in food <i class="fa-solid fa-hand-point-right fs-3 text-danger"></i></h1>

      <p class="text-muted p-5 ">
        Our eclectic menu reflects the wide variety of influences and experiences that 
        inform our approach to cooking. We don’t just serve dishes, we serve memories.  
      </p>
    </div>


  </div>
  <!-- <div class="">
    <h1>Some Of <span class="text-danger">Pizza</span>  <small style="font-size: 14px;margin-left: 7px;">( 6 )</small></h1>
    <hr style="background-color: black;height: 2px; width: 20%;">
    <hr style="background-color: black;height: 2px; width: 40%;">
  </div>


  <div class="row">
    <div *ngFor="let prod of pizzaArray;let i = index" class="col-md-4 my-4">
      <div class="card " style="width: 18rem;">
        <img src="{{prod.image_url}}" width="100" height="100" class="card-img-top" alt="NotFound">
        <div class="card-body">
          <h5 class="card-title font-monospace" style="font-size: 15px;font-weight: bold;">{{prod.title}}</h5>
      <div class="d-flex justify-content-between align-items-center">
        <span class="card-text small ">{{prod.publisher}}</span>
        <span><i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star-half-stroke text-warning "></i>

        </span>
      </div>
          <br>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row my-5">
    <div class="col-md-5  col-sm-12">
      <h1>Pizza Chef <i class="fa-solid fa-hand-point-right fs-3 text-danger"></i></h1>

      <p class="text-muted py-5 ">
        A pizza chef manages other cooks, follows recipes, knows how to work with pizza dough and ensures a high-quality product.
         Read this guide to learn more about what you should look for in a pizza chef.
      </p>
    </div>

    <div class="col-md-7 col-sm-12">
      <img src="../assets/Images/pizza-chef.png" width="100%" alt="NotFound" >
    </div>

  

  </div>


  <!-- ----------------------------------------------------------------------------------------------- -->

  <div class="row my-5">
    <div class="col-md-7 col-sm-12">
      <img src="../assets/Images/pasta-chef.png" width="100%" alt="NotFound" >
    </div>
    <div class="col-md-5  col-sm-12">
      <h1>Pasta Cook <i class="fa-solid fa-hand-point-left fs-3 text-danger"></i></h1>

      <p class="text-muted p-5 ">
        aspects of food preparation. Their main responsibilities include planning menus, overseeing the kitchen staff,
         and ensuring that the food meets high-quality standards.
      </p>
    </div>


  

  </div>

  <!-- <div class="">
    <h1>Some Of <span class="text-danger">Pasta</span>  <small style="font-size: 14px;margin-left: 7px;">( 6 )</small></h1>
    <hr style="background-color: black;height: 2px; width: 20%;">
    <hr style="background-color: black;height: 2px; width: 40%;">
  </div>


  <div class="row">
    <div *ngFor="let prod of pastaArray;let i = index" class="col-md-4 my-4">
      <div class="card " style="width: 18rem;">
        <img src="{{prod.image_url}}" width="100" height="100" class="card-img-top" alt="NotFound">
        <div class="card-body">
          <h5 class="card-title font-monospace" style="font-size: 15px;font-weight: bold;">{{prod.title}}</h5>
      <div class="d-flex justify-content-between align-items-center">
        <span class="card-text small ">{{prod.publisher}}</span>
        <span><i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star-half-stroke text-warning "></i>

        </span>
      </div>
          <br>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row my-5">
    <div class="col-md-5  col-sm-12">
      <h1>Vegetable Pho <i class="fa-solid fa-hand-point-right fs-3 text-danger"></i></h1>
      
      <p class="text-muted p-3 ">
        A dish that consists of a variety of ingredients which generally have some type 
        of dressing mixed with the greens. Salad can be served as a side dish, as a separate
         course, or as the main course of a meal. Vegetables or fruit are most often a main 
         ingredient to accompany leafy greens, but a mixture of the two is also common. In 
         addition, vegetable salads may include some type of meat, a pasta, cheeses, or nuts
          with the other ingredients. Both vegetable and fruit salad are generally served cold,
         but there are some salads that are served warm or served with warm dressings.
      </p>
    </div>
    <div class="col-md-7 col-sm-12">
      <img src="../assets/Images/img-mnllQgboMqFBl2Rd.png" width="100%" alt="NotFound" >
    </div>


  

  </div>


  <!-- --------------------------------------------------------------------------------------------------------------------- -->

  <!-- <div class="">
    <h1>Some Of <span class="text-danger">Salad</span>  <small style="font-size: 14px;margin-left: 7px;">( 6 )</small></h1>
    <hr style="background-color: black;height: 2px; width: 20%;">
    <hr style="background-color: black;height: 2px; width: 40%;">
  </div>
  <div class="row">
    <div *ngFor="let prod of saladArray;let i = index" class="col-md-4 my-4">
      <div class="card " style="width: 18rem;height: 100%;">
        <img src="{{prod.image_url}}" width="100" height="100" class="card-img-top" alt="NotFound">
        <div class="card-body">
          <h5 class="card-title font-monospace" style="font-size: 15px;font-weight: bold;">{{prod.title}}</h5>
      <div class="d-flex justify-content-between align-items-center">
        <span class="card-text small ">{{prod.publisher}}</span>
        <span><i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star text-warning "></i>
          <i class="fa fa-star-half-stroke text-warning "></i>

        </span>
      </div>
          <br>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->


  
  <div class="row">
    <div class="col-md-7">
      <img src="../assets/Images/waiter-AQEElP5bDOC2blKe.png" width="80%" alt="NotFound" >
    </div>

    <div class="col-md-5 py-5">
      <h1>We are here to lighten up your evening <i class="fa-solid fa-hand-holding-heart fs-3 text-danger"></i></h1>

      <p class="text-muted p-5 ">
        All of our waiters have worked in our kitchen, meaning that they know the menu inside out and can help you, whether you need to
         check for allergens or need a hand for picking the right kind of wine.
      </p>
    </div>


  </div>
</section>